
.redes {
    max-width: inherit;
    display: flex;
    justify-content: center;
    margin:20px 0px 30px 0px;

    a {
      margin-left: 30px ;
      margin-right: 30px;
      text-decoration: none;
      font-size: 28px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      background: #87A7B3;
      color: #f1f1f1;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
      transition: all .4s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }


  @media (max-width: 2150px) {
    .redes {
      a {
        width: 60px;
        height: 60px;
        line-height: 60px;
      }
    }
  }
  
  @media (max-width: 1440px) {
    .redes {
      a {
        width: 55px;
        height: 55px;
        line-height: 55px;
      }
    }
  }

  @media (max-width:768px) {
    .redes {
      margin:0px;
      padding: 10px;
      a {
        width:40px;
        height:40px;
        line-height:40px;
        font-size: 23px;
      }
    }
  }
  
  @media (max-width:425px) {
    .redes {
      a {
        width:30px;
        height:30px;
        line-height:30px;
        font-size: 20px;
      }
    }
  
  }
  
  @media (max-width:375px) {
    .redes {
      a {
        margin: 0px 20px;
        width:25px;
        height: 25px;
        line-height:25px;
        font-size: 15px;
      }
    }
  
  }
  