.arrow {
    position: fixed;
    top: 90%;
    left: 90%;
    z-index: 999;
    cursor: pointer;
  }  

  @media (max-width:600px) {
    .arrow {
      top: 90%;
      left: 85%;
    }
  }
  
  @media (max-width:425px) {
    .arrow {
      top: 90%;
      left: 80%;
    }
  }
  
  @media (max-width:375px) {
      
  }