.academicBar {
    height: 300px;
    border: 1px solid #87A7B3;
    padding: 0px 50px;
    background-color: #87A7B3;
    position: relative;
    z-index: 1;
    top: -130px;
    display: flex;
    justify-content: space-around;

    a {
        text-decoration: none;
        transition: all .2s ease-in-out;
        img {
            cursor: pointer;
            position: relative;
            top: 45%;
            padding: 10px;  
        } 
        .academic_description {
            cursor: pointer;
            position: relative;
            top: 25%;
            padding: 10px;  
            text-decoration: none;
            color: #D3DEDC;
        }
        .working_description, 
        .knowledge_description {
            cursor: pointer;
            position: relative;
            top: 35%;
            padding: 10px;  
            text-decoration: none;
            color: #D3DEDC;
        }         
        &:hover {
            transform: scale(1.2);
            color: #333;
            font-weight: bold;
        }  
        &:hover>p {
            color: #87A7B3;
            font-weight: bold;
        }  
    }
    

}

.active {
    border-bottom: 5px solid #D3DEDC;
}

@media (max-width:1024px) {
    .academicBar {
        padding: 0px 25px;
        a {
            img {
                width: 130px;
                height: 130px;
                padding: 15px;
            }
        }
    }
}

@media (max-width:768px) {
    .academicBar {
        padding: 0px 20px;
        height: 230px;
        top: -110px;
        a {
            img {
                width: 80px;
                height: 80px;
                padding: 15px;
            }
        }
    }
}

@media (max-width:600px) {
    .academicBar {
        padding: 0px 5px;
        height: 190px;
        top: -90px;
        a {
            img {
                width: 60px;
                height: 60px;
                padding: 15px 0px;
            }
        }
    }
}

@media (max-width:425px) {
    .academicBar {
        padding: 0px 5px;
        height: 150px;
        top: -70px;
        a {
            img {
                width: 45px;
                height: 45px;
                padding: 15px 0px;
            }
        }
    }
}

@media (max-width:375px) {
    .academicBar {
        padding: 0px 5px;
        height: 130px;
        top: -60px;
        a {
            img {
                width: 40px;
                height: 40px;
                padding: 15px 0px;
            }
        }
    }
}
