#academic {
    margin-top: -130px;
    margin-bottom: 30px;


    h2 {
        color: #000;
        font-size: 30px;
    }
    .card {
        display: flex;
        justify-content: space-around;
    }
    
}