#working {
    margin-top: -130px;
    margin-bottom: 30px;
    h2 {
        color: #000;
        font-size: 30px;
    }
    .card {
        padding: 10px 30px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 0px 100px;
        display: flex;
        justify-content: space-around;
        padding: 40px 0px;
        border-radius: 20px;
    }
}
