.card_working {

    .working {
        // margin-bottom: 100px;
        
        .datesWork {
            img {
                width: 135px;
                height: 50px;
                border-radius: 10px;
                filter: grayscale(80%);
                z-index: -999;
                
            &:hover {
                filter: none;
                transition: 0.5s;
            }    
            }
            .activities {
                width: 100%;
                max-width: 350px;
                margin: auto;
                text-align: center;
            }
        }
    }
}