#profile {
    margin-top: -130px;
    margin-bottom: 30px;
    h2 {
        color: #000;
        font-size: 30px;
    }
    .my_profile {
        display: flex;
        justify-content: center;
        .description {
            border-right: 1px solid #87A7B3;
            
            .description_p {
                margin: 0 auto;
                text-align: center;
                line-height: 1.5;
                width: 100%;
                max-width: 500px;
                font-size: 20px;
                margin-right: 50px;
            }
        }
        .link_cv {    
            display: table;
            height:200px;
            
            a {
                display: table-cell;
                vertical-align: middle; 
                text-decoration: none;
                color: #000;             
                P{
                    text-align: center;
                    margin-left: 50px;
                    font-weight: bold;
                }
                .cv_img {
                    max-width: 150px;
                    max-height: 150px;
                    margin-left: 50px;
                    border-radius: 5px;
                }
            }
            
        }

    }
}

@media (max-width:768px) {
    #profile {
        margin-top: -120px;
        h2 {
            font-size: 25px;
            margin: 15px 0px;
        }
        .my_profile {
           display: inline;
            .description {
                border-right: none;
                .description_p {
                    margin: 0 auto;
                    font-size: 18px;
                    padding: 0px 50px;
                }
            }
            .link_cv {    
                margin: 0 auto;
                a {
                               
                    P{
                        margin: 0px;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        
                    }
                    .cv_img {
                        margin: 0px;
                    }
                }
                
            }
    
        }
    }
}

@media (max-width:600px) {
    #profile {
        margin-top: -100px;
        h2 {
            font-size: 25px;
            margin: 13px 0px;
        }
        .my_profile {
           display: inline;
            .description {
                .description_p {
                    margin: 0 auto;
                    font-size: 16px;
                    width: 100%;
                    max-width: 350px;
                }
            }
            .link_cv {    
                margin: 0 auto;
                a {
                               
                    P{
                        margin: 0px;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        font-weight: bold;
                    }
                    .cv_img {
                        margin: 0px;
                    }
                }
                
            }
    
        }
    }
}

@media (max-width:425px) {
    #profile {
        margin-top: -70px;
        h2 {
            font-size: 20px;
            margin: 13px 0px;
        }
        .my_profile {
           display: inline;
            .description {
                .description_p {
                    margin: 0 auto;
                    font-size: 14px;
                    width: 100%;
                    max-width: 270px;
                }
            }
            .link_cv {    
                margin: 0 auto;
                a {
                               
                    P{
                        margin: 0px;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                    .cv_img {
                        margin: 0px auto;
                    }
                }
                
            }
    
        }


    }

}

@media (max-width:340px) {
    #profile {
        margin-top: -70px;
        h2 {
            font-size: 20px;
            margin: 13px 0px;
        }
        .my_profile {
           display: inline;
            .description {
                .description_p {
                    margin: 0 auto;
                    font-size: 12px;
                    width: 100%;
                    max-width: 150px;
                }
            }
            .link_cv {    
                margin: 0 auto;
                a {
                               
                    P{
                        margin: 0px;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        font-weight: bold;
                        font-size: 12px;
                    }
                    .cv_img {
                        margin: 0px auto;
                    }
                }
                
            }
    
        }


    }

    
}
