.card_knowledge {
    .know {
        .datesKnowledge {
            margin: 0px 50px 50px 50px;
            .images {
                .imgKnow {
                    width: 100px;
                    height: 100px;
                }
            }
            .descriptions {
                .name {
                }
                .progress {
                    height: 20px;
                    
                }
            }
        }
    }
}